@page "{id:int}"
@model MultiCsino.Pages.editStaffModel
@{
}





<div class="container">
    <h3>Edit Customer</h3>
    <hr />
    <br />
    <form method="post">
        <input asp-for="item.staffID" type="hidden" />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="item.Name"></label>
                <input asp-for="item.Name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="item.Address"></label>
                <input asp-for="item.Address" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="item.Designation"></label>
                <input asp-for="item.Designation" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label asp-for="item.Phoneno"></label>
                <input asp-for="item.Phoneno" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="item.Salary"></label>
                <input asp-for="item.Salary" cl class="form-control" />
            </div>
        </div>

        <br />
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-default" href="/viewStaff">Cancel</a>
    </form>
</div>  