@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-1 bg-dark text-light">Why Multi Casino</h1>
    <p>
        We make it our absolute mission to be the number 1 online casino out there – ensuring our players always get the best from us.

        As well as a huge suite of exciting games ranging from slots, to jackpots, video poker and live casino – we’ve got unbeatable offers, regular promotions, and an amazing Loyalty Scheme.

        And with an industry leading double-your-money, plus 200 free spins Welcome Package, we ensure you get the finest deals right from the very beginning – you’ll even get 20 free spins just for registering!

    </p>

    <h1 class="display-4 bg-dark text-light">MULTI-PLATFORM CASINOS NEW ZEALAND</h1>
    <p>
        Multi-platform Casinos are making New Zealand Casino players benefit greatly from one site. This means they can play different games from multiple software developers at the very same site. There is no longer a need to keep switching websites just to try games from another developer.

        A multi-platform casino is an online casino that is not dependent on one software provider for the casino games they offer. A couple of years ago, it was a typical practice for all the large online casinos to use one software developer. Then Microgaming and Playtech mostly dominated the industry. Now, different casino software providers can be found on a single site. So, read on and learn more about a multi-platform casino.
    </p>
</div>
